<ion-view view-title="CONTACTS">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10">
        <h3 class="text-center">Facebook Invitation</h2>
            <form method="post" class="invtform" ng-submit="" name="postForm" novalidate>
                <!--ng-repeat="item in items"--> 
                <ion-list ng-show="contacts.length > 0">
					<ion-item ng-repeat="contact in contacts">
						{{contact.displayName}}
					</ion-item>
				</ion-list>
				<div class="padding"  ng-show="!fbConnection">
                    <a class="button button-block button-dark" ng-click="importContact()"> <i class="icon ion-archive"></i>  Import Contact </a>
                </div>
				 <div class="padding"></div>
				
                <div class="padding onebtncss">
                    <button type="submit" class="button button-block button-{{appColor}}" ng-click="sendMessage()"> Send </button>
                </div>
				
                <div class="padding onebtncss">
                    <button type="submit" class="button button-block button-dark"> Home </button>
                </div>
            </form>
    </ion-content>
</ion-view>